.RadiusSliderWrapper {
    height: 100px;
    justify-content: space-between;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    border-radius: 5px;
    padding: 20px 10px 0px 20px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    color: #5a5c69!important;

}
.RadiusSliderWrapper .lbl-caption {
    font-size: 22px;
    font-family:  'Roboto Slab, serif';
}
.RadiusSliderWrapper .lbl-caption a{
    font-weight: bold;
}

.RadiusSliderWrapper .slider-radius {
    margin-top: 20px;
}